header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to left, rgb(245, 128, 148), rgb(252, 74, 104));
}

a {
  width: fit-content;
}

.mode {
  display: flex;
}

.large-icon {
  width: 25px;
  height: 20px;
  border-radius: 10px;
}

.heading {
  font-weight: 600;
  font-size: 1.5rem;
}
